#!/usr/bin/make -f

pkg		:= uffi
pkg-tests	:= $(pkg)-tests
debpkg  	:= cl-$(pkg)
debpkg-tests  	:= $(debpkg)-tests


clc-source	:= usr/share/common-lisp/source
clc-systems	:= usr/share/common-lisp/systems
clc-files	:= $(clc-source)/$(pkg)
clc-tests	:= $(clc-source)/$(pkg-tests)
doc-dir		:= usr/share/doc/$(debpkg)
lib-dir		:= usr/lib/uffi

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	# Add here commands to compile the package.
	(cd tests; make)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	(cd tests; make clean)
	rm -f debian/$(debpkg).postinst.* debian/$(debpkg).prerm.*
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs --all $(clc-systems) $(clc-source) 

	# Add here commands to install the package into debian/uffi.
	dh_installdirs -p $(debpkg) $(doc-dir) $(clc-files)/src
	dh_install $(pkg).asd $(clc-files)
	dh_install "src/*.lisp" $(clc-files)/src
	dh_link $(clc-files)/$(pkg).asd $(clc-systems)/$(pkg).asd

	rm -rf doc/html
	(cd doc; tar xzf html.tar.gz; cd ..)
	dh_install doc/html $(doc-dir)
	rm -rf doc/html
	cp doc/uffi.pdf doc/cl-uffi.pdf
	gzip -9 doc/cl-uffi.pdf
	dh_install doc/cl-uffi.pdf.gz $(doc-dir)

	dh_installdirs -p $(debpkg-tests) $(clc-tests)/tests $(lib-dir)
	dh_install -p $(debpkg-tests) $(pkg-tests).asd $(clc-tests)
	dh_install -p $(debpkg-tests) tests/*.lisp tests/*.c $(clc-tests)/tests
	dh_install -p $(debpkg-tests) tests/*.so $(lib-dir)
	dh_link -p $(debpkg-tests) $(clc-tests)/$(pkg-tests).asd $(clc-systems)/$(pkg-tests).asd

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
#	dh_installdebconf -i
	dh_installdocs -i
	dh_installexamples -i examples/*.lisp
	dh_installmenu -i
#	dh_installlogrotate -i
#	dh_installemacsen -i
#	dh_installpam -i
#	dh_installmime -i
#	dh_installinit -i
	dh_installcron -i
#	dh_installman -i
	dh_installinfo -i
#	dh_undocumented -i
	dh_installchangelogs ChangeLog -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
#	dh_perl -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
#	dh_installdebconf -a
	dh_installdocs -a
#	dh_installlogrotate -a
#	dh_installemacsen -a
#	dh_installpam -a
#	dh_installmime -a
#	dh_installinit -a
#	dh_installcron -a
#	dh_installman -a
#	dh_installinfo -a
#	dh_undocumented -a
#	dh_makeshlibs -a
#	dh_perl -a
	dh_installchangelogs ChangeLog -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_installmenu -a
	dh_installdeb -a
	dh_gencontrol -a
	dh_shlibdeps -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

